* {
    box-sizing: border-box;
}

/* Creamos una columna*/
.columna1{
    float: left;
    width: 100%;
    padding: 10px;
}

/* Creamos dos columnas iguales en las que estan al lado de la otra */
.columna2{
    float: left;
    width: 50%;
    padding: 10px;
}

/* Creamos tres columnas iguales en las que estan al lado de la otra */
.columna3{
    float: left;
    width: 33.33%;
    padding: 10px;
}



/* limpiamos los floats después de las columnas */
.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Diseño responsivo, para que una vaya abajo de la otra  */
@media screen and (max-width: 600px){
    .columna1{
        width: 100%;
    }
    .columna2{
        width: 100%;
    }
    .columna3{
        width: 100%;
    }
    
}